{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC7YQ41BW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GC7YQ41BW3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fractal Spirals Symphony</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'spirals.css' %}">
</head>

<body>
<canvas id="canvas"></canvas>
<label for="fractals"></label>
<input id="fractals" value="0"/>

<script src='https://unpkg.com/glea@latest'></script>
<script src='{% static 'gsap.min.js' %}'></script>
<script src='{% static 'ScrollTrigger.js' %}'></script>
<script  src="{% static 'spirals.js' %}"></script>
</body>
</html>
