{% extends "base_bootstrap.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style>
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
</style>
{% endblock %}
{% block content %}
{% if pic.content_type %}
    <!-- So that's how the picture gets there. But then I'm going to show you how when I click on this picture, I get
    this overlay. Then when I click on the overlay, it goes away. Now, there is all kind of fancy things and Bootstrap
    has modals. I did this with the simplest and crudest of CSS and JavaScript tricks. So let's take a look at how I did
    that. At that point now, we're in JavaScript. So first thing I've got is a CSS, and it's this overlay position fixed
    You'll see that I have a div tag that has the picture in it and it's got a whole bunch of CSS in it. The width is 90
    percent margin top, the border is three pixel with a solid black. So you'll see this, it's 90 percent of the wet,
    that's got a three pixel margin. It's the margin top is 50 pixels, so there is 50 pixels here. So that picture is
    there, but because this class equals overlay, all this other stuff is there as well. So that's not the picture,
    that's the rest of it. So you can see that this is fixed, which means it overlaps this div and the rest of the page.
    This div right here and the rest of the page are like two layers. Z index is 10 puts it on top. A 100 percent with
    100 percent height, display none means it starts out hidden. Then I've got this little gray, you see this little
    gray bit. Then the image has this style, the width, 90 percent margin top, 50 pixels, that's giving me the border
    and the margin and making it 90 percent wide. Well, let me get rid of it, I'll hit Refresh. So it's not there. But
    if I do view page source, it is there. It's just hidden. It's hidden because I told it to be hidden here. So it
    starts out hidden. So how does it unhide? Well, if I look, I've got this image here. This is the actual image.
    That's this image that's really showing on the page. I've got an on click, but a Java script. So on click. So what
    I'm doing is I got to on click there and then I say document.GetElementById overlay, which is looking for whatever
    tag has ID equals overlay. Then I'm changing its display from hidden to block. So when I on click happens, when I
    click on goodbye. So when I click on this image, I've got an on click event anywhere in this image that is going to
    show this other div. So this other div pops up. Now, what I've got is an on click method on that div. So that I can
    click anywhere in here, including the picture or the background because that's part of the overlay. The overlay is
    the entire div in the background. So I click anywhere click, and then that triggers this document.GetElementById
    style display none. So it's still there, it's hidden. So I can bring it up, I can hide it. I can bring it up, I can
    hide it. I can bring it up, I can hide it. I tried to make this one as simple as possible. -->
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'pics:pic_picture' pic.id %}">
</div>
{% endif %}
<span style="float: right;">
({{ pic.updated_at|naturaltime }})
{% if pic.owner == user %}
<a href="{% url 'pics:pic_update' pic.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'pics:pic_delete' pic.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ pic.title }}</h1>
{% if pic.content_type %}
<img style="float:right; max-width:50%;" src="{% url 'pics:pic_picture' pic.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<p>
{{ pic.text }}
</p>
<p>
</p>
<p>
<a href="{% url 'pics:all' %}">All pics</a>
</p>
{% endblock %}
