{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC7YQ41BW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GC7YQ41BW3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neon Heart</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'neon.css' %}">
</head>

<body>
<canvas id="canvas" width="1400" height="600"></canvas>
<script  src="{% static 'neon.js' %}"></script>
</body>
</html>