{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC7YQ41BW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GC7YQ41BW3');
    </script>
    <meta charset="UTF-8">
    <title>My Essay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'essay.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
<div class="outer">
  <header class="site-header">
    <div class="wrapper">

      <a class="site-title" href="#">MY ESSAY</a>
      <div class="container noPrint">
        <a href="#introduction" class="btn btn-danger">Introduction</a>
        <a href="#edu" class="btn btn-danger">Encrypting and Decrypting Data</a>
        <a href="#exp" class="btn btn-danger">Confidentiality</a>
        <a href="#lan" class="btn btn-danger">Secret key</a>
        <a href="#skills" class="btn btn-danger">Public key</a>
        <a href="#add" class="btn btn-danger">Integrity</a>
        <a href="#ssl" class="btn btn-danger">SSL</a>
        <a href="#wb" class="btn btn-danger">Encoding Traffic in Web Browsers</a>
        <a href="#sum" class="btn btn-danger">Summary</a>
      </div>
    </div>

    <div class="header-badge">
      <a data-toggle="modal" data-target="#shareModal">
        <img height="100%" width="100" src="https://i.imgur.com/zzxpdZd.jpg">
      </a>
    </div>
  </header>


  <div class="page-content">
    <div class="wrapper">
      <div class="home">
        <div class="top card">
          <a class="email" href="mailto:jackshen@ukr.net">Contact Me</a>
          <p class="description">I am Jack Shendrikov and this is my presentation) </p>
          <p class="description">Welcome to the world of Information Security! </p>
          <p class="description">In fact, there is only ordinary text here, cause I spent all my skills on the intro, so you can skip it)) </p>
          <hr>
          <a href="#" style="display: block; width: 45%; max-width: 250px; margin-left: auto; margin-right: auto" onclick="window.print()" class="btn btn-res">Print</a>
        </div>
        <a id="introduction"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-bookmark"></i> Introduction</b></span>
            <ul class="post-list">
              <div>
                <p class="say-body">&emsp;At the dawn of the Internet, networks were limited and all routers were in safe areas. As long as each Internet-connected device secured itself from unwanted incoming connections, it was felt that as it passed the network, there was no need to secure data from prying eyes.</p>
                <p class="say-body">&nbsp;</p>
                <p class="say-body">&emsp;But as the use of the Internet gradually expanded in the late 1980s and actually exploded when the Internet became common in 1994, network traffic protection and privacy became very significant issues to solve. Data protection became essential when we started using the Internet to do business, and credit cards and bank account numbers were regularly sent across the net. And since we started using wireless technology like Wi-Fi, even the simplest searches on the Internet required protection.</p>
                <p class="say-body">&nbsp;</p>
                <p class="say-body">&emsp;There are two main approaches to protecting network activity. The first ensures that all network hardware (routers and links) is in physically safe places so no one can sneak in and track traffic when it is crossing the Internet. This solution is impractical for hundreds of thousands of network routers that are owned and run by different organizations. While you might be able to guarantee that some router operators stick to strict security protocols and policies, a mistake will be made sooner or later. And when Wi-Fi was introduced and packets began to be transmitted over the radio waves, a network intruder might just sit in a café and grab packets as they passed through the air.</p>
                <p class="say-body">&nbsp;</p>
                <p class="say-body">&emsp;In these conditions, the only logical approach is to encrypt the data on your device until it is transmitted through the first physical connection, and then decrypt the data on the destination computer after it has arrived. Using this method, it is assumed that the attacker could see all the packets you sent, but cannot decode the received data. Encryption also means that there is no way to change your data while it's in transit over the Internet.</p>
              </div>
            </ul>
          </div>
        </div>
        <a id="edu"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-key"></i> Encrypting and Decrypting Data</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;To help understand the fundamentals of Internet security and security in particular, we have to find out about such magnificent individuals Alice and Bob, and they simply want to talk with each other. However, they don't want the rest of the world to understand what they are discussing. Thus, they need to encode it somehow.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;In cryptography, good people are designated as A and B (Alice and Bob), and bad people are called C, for example, Charlie, Charles, Carol, etc. And there is Eve – she is an eavesdropper. While she can listen in on messages between Alice and Bob, she cannot modify them.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;And the idea is the following: right in the center of this negotiation process, you have a person with bad intentions, for example, Eve. She can eavesdrop, redirect the message, and change it. But Alice and Bob want to communicate safely despite the distance. And they face literally a bunch of problems that they have to face. Because there are different people with bad intentions who want to get into their conversation and steal information.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;This could be, for example, criminals or the government. The government is most likely interested in what you are doing. But most of us are so boring that the government doesn't care. But they probably have the best security hacking equipment on the planet right now. Of course, we are not talking about Ukraine, but, for example, about the US.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Many people believe that the more security, the better.  But it’s false. The reality is that perfect security is unattainable. For instance, if you want excellent protection, lock yourself in a room and whisper something to someone, but even in this case the microphone or similar device can overhear your conversation. The idea is that there is nothing completely protected in the world right now. Security is purely a cost-benefit analysis.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;In the following sections, we'll talk about two main issues. One of them is confidentiality – the leaking of information. So, for example, you’d like to send your credit card number to someone without the rest of the world seeing that number. It's confidentiality.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Another issue is integrity. For Alice, in a sense, this is the understanding that the information she received comes from whoever she was thinking from. And for Bob, it's an understanding that the data came with its original content. Things like digital signatures and other mechanisms are available for this but we'll discuss them later.</p>
            <p class="say-body">&nbsp;</p>
          </div>
        </div>
        <a id="exp"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-user-secret"></i> Confidentiality</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The terms we're going to use here is «plain text» and «ciphertext». The thought is that text or other data is information that we truly need to transmit, whether it's a credit card number or anything else. What's more, there is an encrypted variant of this, and we will consider it the ciphertext.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Also, the ciphertext, as we expect, is uncovered to the intermediary groups. Whether they're stopping and changing it, or they're simply watching it. So ideally the text is incomprehensible and ideally, it's hard to move from ciphertext to plain text, unless you are the intended receiver.  </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Encryption is the method of moving from plain text to encrypted text. And decryption is the conversion of encrypted text back to plain text. Also, there is a key. Some kind of key, which is actually something like data, plus a method, plus an algorithm that goes back and forth.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;We'll discuss two types of encryption methods: a private key and a public key. The first one was used from the Romans until World War II. The second one appeared much later, during the 60s and 70s. But the first thing we'll talk about is a private key. A private key (symmetric key, secret key) implies that both parties must have identical data. Encoding here usually uses identical key material as decoding.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;But the public key is asymmetric, that implies that you use one key for encoding and another key for decoding. So, the private key issue that led to the need to invent the public key is that at some point people needed more secure communication.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The public key, which we'll discuss later, can distribute the key on an insecure medium. And you'll see that it's so simple and smart that you wonder why no one has thought of this for so long.</p>
          </div>
        </div>

        <a id="lan"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-lock"></i> Secret key</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The concept of protecting the information so that it cannot be read when it is transported on an unreliable medium goes back thousands of years. The leaders of the Roman armies sent each other coded messages using a code called the «Caesar cipher». The simplest variation of this method is to take each of the characters in the actual message (plain text) and move each character down the alphabet a fixed distance to create an encrypted message or «ciphertext».</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;We then send the ciphertext to another person by courier or other unsafe means of transport. The courier cannot read the message because if you don’t know the method used to encrypt the message, it looks like it’s random characters.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;However, knowing the number used to shift the message could help you undo the character shift in the encoded message to reproduce the original message. Here is a good example of using shift 1 for plain text and ciphertext: </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body-2">&emsp;&emsp;&emsp;Plain text: Hello, Jack!</p>
            <p class="say-body-2">&emsp;&emsp;&emsp;Ciphertext: Ifmmp, Kbdl!</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The Caesar Cipher is actually easy to overcome, but it has been used to encode important messages until around 160 years ago. And his weakness is the following. Let me give you an example: what is a one-character word with a capital letter in English (since spaces are often not encrypted in a given cipher) that you can note because they are often found? Well, it's usually the letter I. And what is that one-character word, typically lowercase, unless it's at the beginning of a sentence? And this is the letter a. Thus, we did not need to decode the entire message in its entirety – we find some pattern and, in a few seconds, if you do it correctly, you will find out what the shift was. And then decoding the text is a trivial question.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;As mentioned earlier, modern encryption methods are significantly more advanced than just character changes, but all encryption schemes rely on some sort of secret key that both parties know about so that they can decrypt the received data.</p>
            </div>
        </div>


        <a id="skills"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-unlock"></i> Public key</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Using a shared secret (like the phrase, number, password, etc.) that only the sending and receiving parties know is the standard way to encrypt transmission. It is easy to decrypt the received data with a secret, but it would be nearly impossible to decrypt the message if you received the data without having the secret.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;In the early days of the Internet, when one person first called another on the phone and told them the secret of decryption, two individuals could send each other encrypted emails. And when there were only a few users on the network, this worked well but it could not scale to circumstances where the business could have millions of clients and could not afford to call every client to establish a shared secret until they could make a transaction. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Distributing shared secrets over the Internet may seem like a smart idea, but if we presume that attackers track and capture all network traffic, they may also intercept an unencrypted message containing the shared secret. At this point, decoding the message would be trivial for an attacker.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Worse yet, an intruder can intercept a message, delay it then decrypt, change, and re-encrypt it and send the altered message back on its way. The receiving computer would decode the message and never realize that it was changed during transmission by an attacker. Thus, shared secrets are clearly not going to help protect network traffic between trillions of networked computer pairs.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;An answer to this issue was introduced by Diffie and Hellman in 1976 when the idea of asymmetric key encoding was developed. Another name for asymmetric keys is public-private keys. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;What’s the idea here? Well, we create these two keys. The first one is used for encoding. The second one – for decoding. They are mathematically related, which is difficult to compute for a sufficiently large key length.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;These keys are chosen by the device that will receive the encrypted data. After that, the encryption key is sent to the system that sends the data. The sending device encrypts the information and sends it over the network. To decrypt the data, the receiving system uses the decryption key. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The encryption key is the «public» because it can be spread widely. And we call the decryption key the «private» because it never leaves the device on which it was created. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The whole process is designed so that if the attacker has a public key (which was sent in unencrypted form) and an encrypted text, it is almost impossible to decrypt the encrypted data. But it doesn’t make it impossible.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Actually, public-private key encryption is pretty obvious. And to be honest, Caesar, the Germans, and everyone else could probably use this idea. They just haven't thought about it yet.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;And this is one of the fascinating security philosophies. It is kind of difficult to achieve perfect protection unless you just send nothing. The trick here, however, is that everyone knows how to crack asymmetrical keys. The thing is that computers aren't fast enough to crack them, and we're just going to make the keys larger as the computers get faster.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;But at this point let's talk about the mathematics of this algorithm. This approach begins with choosing two very large random prime numbers with thousands of digits. And then you look around for the closest prime number and pick two of them.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;After the multiplication of them, you receive an even larger number. And after a few steps, through some calculations, you get the public and private keys from that large number. The bottom line is that these are two primes.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;As we know, prime numbers are numbers that you only divide by yourself and by one which means that they do not have divisors. So, they look like a needle in a haystack.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Thus, the mathematics of this makes it impractical to hack. But if someone can come up with a better hacking technique, that will be eternal glory. This means that we are fairly sure that there is no good way to hack this algorithm other than a brute-force method that requires a lot of computation.</p>
          </div>
        </div>

        <a id="add"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-id-card"></i> Integrity</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Now, we're going to talk about integrity. Let's imagine that I have sent you a letter and you would like to know if this message really came from me. Well, in the ordinary world, we would use things like a signature, or we would use a little wax to put our seal on it, and the seal belonged only to us.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;But signatures can be forged and wax seals can be stolen. I mean, they wore it around their neck in Roman times to ensure that no one stole it. But in the computer world, we need something different, something more secure. And this is a digital signature – it's just a bunch of numbers and can be sent, printed, scanned, or emailed. As long as this signature is present, we can know that the data came from whom we need.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;These signatures are made using a technique called cryptographic hashing. And it's a bit of program code that takes a lot of text and compresses it to a small set of numbers.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;There are now many different methods for mapping a message to a hash or digest. And some of them are better than others. And there is a whole field of mathematics and computer science that, in the long term, is dedicated to understanding what a good cryptographic hash can be. There are some well-known cryptographic hashes like SHA1 or MD5 that you may have heard of.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;And all of these cryptographic hashes are based on the fact that whatever your original message may be, it can be short, medium, or very long – the output hash function will always give a fixed size. Different message hashing functions give different lengths, but their digest is always fixed. And they get fixed even if megabytes or thousands of megabytes are entered. You can run it all through a hash function and get a fixed digest.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;And therefore, the key point for a good hash function is to make sure that any change in the input data changes the digest as well. If you change one of the letters in your message, the hash will significantly alter. This indicates that the hash function is working correctly. The length has not changed, all the symbols are the same, except one symbol has changed, and the hash function has completely changed, so that's the point.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;You can also understand that a cryptographic hash function is bad if you take two different messages, send them, and then receive the same digest. This is bad since it indicates that two different input messages can be signed with the same signature.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Earlier we mentioned SHA1 and MD5 – these are some kind of classic hash functions, but they are already deprecated and no one seriously uses them. Now there is SHA256 which is much better than SHA1. SHA1 isn't terrible, but it's far from perfect. Therefore, for highly sensitive information, you will never use SHA1.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;We should note the hashing of passwords too. When we visit a new site, it usually asks us to create an account and password there. Many people use the same password for many systems, but you shouldn't. Because if your password has been compromised in some way, attackers can get your password from LinkedIn, Twitter, etc. And steal all of your accounts by hacking one account.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;It is also considered very bad form for a site to store your password in plain text in a database. Because if the database has been corrupted, the attackers will get all the passwords in plain text. It is best to store a hashed version of the password. Any respectable system will never store your password in plain text.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;When you create an account and enter a password, a cryptographic hash is started and saved. And then the next time you log in, you will provide the system with your password in plain text. And via a cryptographic hash, it runs the presented password and then compares it in the database to the hashed password. If they match, then the same password was presented both times.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;To check the reliability of the system, set some weak password the first time, and then reset it. And if the system sends you a plain text of the password, then this system is unreliable. And again, no reputable computer system will ever give you your password in plain text because they simply don't have it and they can't get it, these cryptographic hashes aren't backwards. This is a one-way operation. You can go from plain text to hash, but you can't go from hash to plain text.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The next thing we need to talk about is digital signatures. We will use integrity here too. In a sense, the system performed similar functions when we entered the password so that the system could verify that you were indeed the person on the other end of the line. This is no different from showing your passport when you receive your order at the post office. We're just saying to the system: yes, it really is me. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;So, now we need to send the message, and then make sure the message came from the right person and wasn't altered in transit. To do this, we split the message and the digest into parts, add the known secret part to its end, and then, for example, we run it through the SHA1 computation. And when you compare it to the received SHA1 or the received message digest, or the signature of the received message, you instantly see that one is good and the other is bad. So digital signatures are actually amazingly simple and surprisingly easy to do without a lot of advanced technology. The only tricky technology here is the very clever math that basically makes these cryptographic hashes work properly.</p>
          </div>
        </div>

        <a id="ssl"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-shield"></i> Secure Socket Layer</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Since it was decided to upgrade security almost 25 years after the development of IP (Internet Protocol), it was necessary not to compromise any current architectures or IPs. Adding a partial layer between the Application layer and the Transport layer was the solution. Now, this layer is called Secure Sockets Layer (SSL).</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;When an application needed a transport layer to link to a remote host, it may require that the connection be encoding or unencoding. If an encoding connection is required, the transport layer encrypts the data before splitting the stream into packets. This meant that the Transport layer, the Internetwork layer, and the Link layer could still operate the same, regardless of whether the packets were encoding or not. Connection applications have also gotten rid of the details of how encryption and decryption work.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;As encryption was an easy and straightforward modification to the Transport layer, there was no need to modify the routers running on the Internetwork and Link layers. There was no need to adjust any link-layer hardware to make the encryption work. And the apps didn't need to adjust anything other than asking for link encryption as needed.</p>
            </div>
        </div>

        <a id="wb"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-code"></i> Encoding Traffic in Web Browsers</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;While web browsers and web servers operate at the application level, we barely care whether we use encrypted or unencrypted connections. Web browsers use the URL convention to substitute «HTTP:» with «HTTPS:» to show that the browser can connect with the web server using a protected Transport layer instead of an unencrypted Transport layer. Your browser will normally display a padlock icon in the address bar to let you know that you are connecting with a protected website.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;There is a minor overhead when you set up HTTPS connections and a minor cost to encrypt and decrypt the data you submit. Since HTTPS was a little more costly, it was only used for sites containing passwords, bank account numbers, or other confidential data for some time. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;But over time, as networks get faster and HTTPS implementations get even more effective, there has been a tendency to encrypt all connections with the web server if you connect with the web server that you have an account with. The latest practice is the use of HTTPS for all web traffic.</p>
           </div>
        </div>

        <a id="sum"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title"><b><i class="fa fa-certificate"></i> Summary</b></span>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Since the Internet was almost 25 years old before we wanted a widely distributed security scheme, we needed to find a way to add security to the already existing four-layer model. The Transport layer was the optimal position to add security. This is why we also call secure connections on the Internet «Transport Layer Security» (TLS).</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The invention of public-private key encryption was timely as it solved the key distribution problem in shared secret encryption approaches. With public-private keys, the public encoding key can be transferred regularly over insecure media. This means that we can use an unencoding connection to exchange data and update the connection to a secure one.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Through adding a protected layer to the Transport layer, we were able to prevent altering the Application, Internetwork, and Link layers while easily securing any Transport layer connection. This method ensures that all data transmitted over the connection is encrypted before leaving your computer. Given that many of us use wireless connections such as Wi-Fi, which are easily monitored by attackers, it is a good idea to encrypt data before sending it.</p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;Browsers support secure connections by changing the URL prefix from «HTTP:» to «HTTPS:». By tracking the URL, end-users will make sure that they never send sensitive data over unsafe connections. </p>
            <p class="say-body">&nbsp;</p>
            <p class="say-body">&emsp;The SSL design provides a protected and easy-to-use mechanism for secure communication over the Internet on the scale of trillions of pairs of interactive computers.</p>
            </div>
        </div>


      </div>

    </div>
  </div>

  <footer class="site-footer">

    <div class="wrapper">

      <span class="footer-heading">Jack Shendrikov | Essay</span>

    </div>

  </footer>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='{% static 'essay.js' %}'></script>

</body>
</html>
