{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC7YQ41BW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GC7YQ41BW3');
    </script>
    <meta charset="UTF-8">
    <title>Galaxy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css"> audio { display:none;} </style>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'galaxy.css' %}">
</head>

<body>
<div id="scene"></div>

<audio class="song" controls loop>
    <source src="{% static 'interstellar.mp3' %}"/>
    Your browser isn't invited for super fun audio time.
</audio>

<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js'></script>
<script src='{% static 'PCDLoader.js' %}'></script>
<script src='{% static 'OrbitControls.js' %}'></script>
<script src='{% static 'OBJExporter.js' %}'></script>
<script src='{% static 'STLExporter.js' %}'></script>
<script src='{% static 'dat.gui.min.js' %}'></script>
<script src='{% static 'jquery.min.js' %}'></script>
<script>
    setInterval(function () {
        let audio = $('.song')[0];
        audio.play();
    }, 2);
</script>
<script  src="{% static 'galaxy.js' %}"></script>
</body>
</html>
