{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC7YQ41BW3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GC7YQ41BW3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whirlpool</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'whirlpool.css' %}">
</head>

<body>
  <script src='{% static 'p5.min.js' %}'></script>
  <script src='{% static 'lodash.min.js' %}'></script>
  <script  src="{% static 'whirlpool.js' %}"></script>
</body>

</html>
